@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "ubuntu_regular";
  src: url("/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "ubuntu_bold";
  src: url("/Ubuntu/Ubuntu-Medium.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "ubuntu_regular";
}

h1,
li {
  font-family: "ubuntu_bold";
  letter-spacing: 0.1rem;
}

.pink-corners::before,
.pink-corners::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: oklch(65.35% 0.2419 9.27);
}

.pink-corners::before {
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.pink-corners::after {
  bottom: 0;
  right: 0;
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}
